#waybill{
    border: 1px solid black;
    /* justify-content: center;  */
    border: none;
}

#no-border-box{
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: 0px solid black;
    border-bottom: 0px solid black;
}

#no-upper-border-box{
    border: none;
}

#no-lower-border-box{
    border: none;
}

#box{
    border: 1px solid black;
}

#left-box{
    border: none;
    border-left: 1px solid black;
}

#right-box{
    border: none;
    border-right: 0px solid black;
    border-left: 0px solid black;
}

#box1{
    border-bottom: 0px solid black;
    text-align: center;
}

#img-box{
    margin-top: 0px;
}

#waybillbox{
    border: none;
    width: 50%;
    height: 15%;
}

#box3{
    text-align: center;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: 0px solid black;
}

#box4{
    text-align: center;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 0px solid black;
    border-left: 0px solid black;
}

#box6{
    text-align: center;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    border-right: 0px solid black;
}
/* 
#vertical{
    height: 110px;
    position: absolute;
    top: 0;
    margin-left: -200px;
} */


#booking-date{
    border: none;
}

#booking-time{
    border: none;
}

#expected-delivery-date{
    border: none;
}

#download{
    width: 120px;
    height: 30px;
    background-color: rgb(83, 140, 247);
    color: white;
    border: none;
}

#download:hover{
    border: 1px solid black;
    background-color: rgb(39, 108, 235);
}